$mobile: 300px;
$desktop: 580px;
$base: 0.5672413793103448;


.youtube-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        visibility: hi;
    }

    &__fallback {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #424242;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        font-size: 84px;
        color: rgb(255, 0, 0);
    }
}