.favorite {
    &__content {
        width: 100%;
        min-height: 85vh;
    }

    &__list {
        display: grid;
        grid-template-areas:
            "favorite__list favorite__list favorite__list";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        padding: 5px;
    }
}