.menu-bar {
    position: relative;
    margin-top: 8px;
    margin-bottom: 16px;
    
    & .container {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        border-bottom: 1px solid #eee;
        padding-bottom: 16px;
    }

    &__icon {
        display: flex;
        align-items: center;
        height: 50px;
        position: relative;
        border: unset;

        &-label {
            font-weight: 600;
        }
    }

    &__content {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .menu-bar {
        margin-top: 42px;
        & .container {
            
            flex-direction: row;
        }

        &__icon {
            position: absolute;
            border: unset;
            left: 20px;

            &-label {
                font-weight: 600;
            }
        }
    }
}