.feature {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 280px;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-color: #ff0000;
        margin-bottom: 10px;

        > * {
            color: white;
            font-size: 26px;
        }
    }

    h2, p {
        text-align: center;
    }
}