.card {
    display: flex;
    background-color: #F9F9F9;
    border-radius: 9px;
    width: 300px;
    max-width: 400px;
    min-height: 118px;

    &-img {
        position: relative;
        background-color: #D9D9D9;
        border-radius: 9px;
        overflow: hidden;
        min-width: 100px;
        max-width: 123px;
        width: 100%;

        &-icon {
            z-index: 0;
            opacity: 0;
            display: flex;
            
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            font-size: 42px;
            color: #d9d9d9a2;
            background-color: rgba(0, 0, 0, 0.575);

            cursor: pointer;
            
            &:hover,
            &:active {
                opacity: 1;
                z-index: 2;
                transition: 0.4s;
            }
        }

        img {
            overflow: hidden;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }


    &-content {
        position: relative;
        width: 100%;
        padding: 7px 12px;


        &__channel {
            display: inline-block;
            line-height: 15px;
            font-size: 12px;
            font-weight: 300;
            color: #ff2525;
            padding-bottom: 8px;
        }

        &__title {
            font-size: 12px;
            font-weight: 600;
        }

        &__id {
            position: absolute;
            bottom: 12px;
            display: inline-block;
            font-size: 10px;
            color: #282c4d;
        }
    }

    &-action {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        padding: 4px 16px;
        align-self: end;

        &__icon {
            color: #D9D9D9;
            font-size: 20px;

            &:hover,
            &:active {
                color: #8d7878;
            }

            &--active {
                color: #ff0000;
                font-size: 20px;

                &:hover,
                &:active {
                    color: #701313;
                }
            }
        }

        &__shared {
            color: #D9D9D9;
            font-size: 20px;
            padding-top: 8px;
            margin-bottom: 16px;

            &:hover,
            &:active {
                color: rgb(30, 138, 30);
            }
        }

        &__favorite {
            margin-bottom: 8px;
            cursor: pointer;
        }
        
        &__download {
            cursor: pointer;
        }
    }
}

// define o tamanho do spinner
.rli-d-i-b.OP-dotted-rli-bounding-box {
    font-size: 6px !important;
}

@media screen and (min-width: 360px) {
    .card {
        width: 350px;
    }
}

@media screen and (min-width: 769px) {
    .card {
        width: 400px;
    }
}