.field-search {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 239px;

    &.is-disable {
        opacity: 0.2;
        pointer-events: none;
    }

    &__input {
        border: 1px solid #dadada;
        background-color: #e9e9e9;
        border-radius: 50px;
        width: 100%;
        height: 45px;
        padding: 0 50px 0 20px;
        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        background-color: white;
        border-radius: 50px;
        right: 7px;

        &:hover {
            transform: scale(0.9);
            cursor: pointer;
            backdrop-filter: rgb(212, 212, 212);
        }

        & i::before {
            color: #a9a9a9;
        }
    }
}

@media screen and (min-width: 375px) {
    .field-search {
        max-width: 480px;
    }
}