.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;

    span {
        font-size: 12px;
        display: inline-block;
        color: #797979;
        padding: 4px 0;
    }

    &__disclamer {
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    &__dev {
        display: flex;
        justify-content: center;
        align-items: center;

        &-infor {
            margin-right: 12px;
        }

        &-linkedin {
            display: inline-block;
            font-size: 18px;
            margin: 0 4px;
            color: #2c2c2c;
            padding-top: 4px;
        }
        
        &-github {
            display: inline-block;
            font-size: 18px;
            margin: 0 4px;
            color: #2c2c2c; 
            padding-top: 4px;
        }
    }
}