.link {
    &__badge {
        display: inline-block;
        background-color: #cd0000;
        padding: 0 8px;
        color: white;
        width: 600;
        margin-right: 4px;
        border-radius: 50px;
    }

    a {
        text-decoration: none;
        color: #5A5A5A;
        font-size: 16px;
    }
}